*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.block{
    width: 40%;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid gray;
}

.title{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.title a:hover{
    color: gray;
}

.photo{
    margin: 0 auto;
}

img{
  display: block;
  width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 100px;
    padding: 10px;
    margin: 0 auto;
}

.prev:hover,
.next:hover{
    cursor: pointer;
    font-weight: bold;
}